.BOOKING .md {
    cursor: pointer;
    float: left;
    color: red;
  }

.BOOKING .ridecomplete {
    float: right;
  }
.BOOKING .headercomplete{
  color: black;
}

.BOOKING .card-loca {
    margin-top: 16px;
}