.VEHICLETYPE .ed-del-icon {
    cursor: pointer;
    float: right;
    color: blue;
    size: 25px;
  }

.VEHICLETYPE .ed-edit-icon {
    cursor: pointer;
    float: left;    
    color: red;
    font-size: 23px;
  }

.VEHICLETYPE .card-loca {
    margin-top: 16px;
  }